<div class="ps-checkout">
  <div class="container">
    <ul class="ps-breadcrumb">
      <li class="ps-breadcrumb__item"><a href="index.html">Home</a></li>
      <li class="ps-breadcrumb__item active" aria-current="page">Checkout</li>
    </ul>
    <h3 class="ps-checkout__title">Checkout</h3>
    <div class="ps-checkout__content">
      <div class="ps-checkout__wapper">
        <p class="ps-checkout__text">
          Returning customer? <a href="my-account.html">Click here to login</a>
        </p>
        <p class="ps-checkout__text">
          Have a coupon?
          <a href="shopping-cart.html">Click here to enter your code</a>
        </p>
      </div>
      <form [formGroup]="checkoutForm">
        <div class="row">
          <div class="col-12 col-lg-8">
            <div class="ps-checkout__form">
              <h3 class="ps-checkout__heading">Billing details</h3>
              <div class="row">
                <div class="col-12 col-md-6">
                  <div class="ps-checkout__group">
                    <label class="ps-checkout__label">First name *</label>
                    <input
                      class="ps-input"
                      type="text"
                      formControlName="first_name"
                      [(ngModel)]="this.checkoutObject.first_name"
                    />
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="ps-checkout__group">
                    <label class="ps-checkout__label">Last name *</label>
                    <input
                      class="ps-input"
                      type="text"
                      formControlName="last_name"
                      [(ngModel)]="this.checkoutObject.last_name"
                    />
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="ps-checkout__group">
                    <label class="ps-checkout__label">Email address *</label>
                    <input
                      class="ps-input"
                      type="email"
                      formControlName="email_address"
                      [(ngModel)]="this.checkoutObject.email_address"
                    />
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="ps-checkout__group">
                    <label class="ps-checkout__label">Mobile *</label>
                    <input
                      class="ps-input"
                      type="text"
                      formControlName="mobile"
                      [(ngModel)]="this.checkoutObject.mobile"
                    />
                  </div>
                </div>
                <div class="col-12">
                  <div class="ps-checkout__group">
                    <label class="ps-checkout__label"
                      >Company name (optional)</label
                    >
                    <input
                      class="ps-input"
                      type="text"
                      formControlName="company_name"
                      [(ngModel)]="this.checkoutObject.company_name"
                    />
                  </div>
                </div>

                <div class="col-12">
                  <div class="ps-checkout__group">
                    <label class="ps-checkout__label">Address line 1 *</label>
                    <input
                      class="ps-input mb-3"
                      type="text"
                      placeholder="House number and street name"
                      formControlName="address_line_one"
                      [(ngModel)]="this.checkoutObject.address_line_one"
                    />
                    <!-- <input class="ps-input" type="text" placeholder="Apartment, suite, unit, etc. (optional)"> -->
                  </div>
                </div>
                <div class="col-12">
                  <div class="ps-checkout__group">
                    <label class="ps-checkout__label">Address line 2 </label>
                    <!-- <input class="ps-input mb-3" type="text" placeholder="House number and street name"> -->
                    <input
                      class="ps-input"
                      type="text"
                      placeholder="Apartment, suite, unit, etc. (optional)"
                      [(ngModel)]="this.checkoutObject.address_line_two"
                      formControlName="address_line_two"
                    />
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="ps-checkout__group">
                    <label class="ps-checkout__label">Town / City *</label>
                    <input
                      class="ps-input"
                      type="text"
                      formControlName="city"
                      [(ngModel)]="this.checkoutObject.city"
                    />
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="ps-checkout__group">
                    <label class="ps-checkout__label">Postcode *</label>
                    <input
                      class="ps-input"
                      type="text"
                      formControlName="postcode"
                      [(ngModel)]="this.checkoutObject.postcode"
                    />
                  </div>
                </div>
                <div class="col-12">
                  <div class="ps-checkout__group">
                    <label class="ps-checkout__label">County *</label>
                    <input
                      class="ps-input"
                      type="text"
                      formControlName="country"
                      [(ngModel)]="this.checkoutObject.country"
                    />
                  </div>
                </div>
                <div class="col-12">
                  <div class="ps-checkout__group">
                    <label class="ps-checkout__label">Region / state *</label>
                    <input
                      class="ps-input"
                      type="text"
                      formControlName="regionOrState"
                      [(ngModel)]="this.checkoutObject.regionOrState"
                    />
                  </div>
                </div>
                <div class="col-12">
                  <div class="ps-checkout__group">
                    <label class="ps-checkout__label"
                      >Order notes (optional)</label
                    >
                    <textarea
                      class="ps-textarea"
                      rows="7"
                      placeholder="Notes about your order, e.g. special notes for delivery."
                      formControlName="orderNotes"
                      [(ngModel)]="this.checkoutObject.orderNotes"
                    ></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-4">
            <div class="ps-checkout__order">
              <h3 class="ps-checkout__heading">Your order</h3>
              <div class="ps-checkout__row">
                <div class="ps-title">Product</div>
                <div class="ps-title">Subtotal</div>
              </div>

              <div
                class="ps-checkout__row ps-product"
                *ngFor="let item of this._CartService.NewCart.items"
              >
                <div class="ps-product__name">
                  {{ item.productName }} x <span>{{ item.quantity }}</span>
                </div>
                <div class="ps-product__price">
                  ${{ item.quantity * item.price }}
                </div>
              </div>

              <div class="ps-checkout__row">
                <div class="ps-title">Subtotal</div>
                <div class="ps-product__price">${{ this.billingAmount }}</div>
              </div>
              <div class="ps-checkout__row">
                <div class="ps-title">Shipping</div>
                <div class="ps-checkout__checkbox">
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="radio"
                      id="free-ship"
                      checked
                    />
                    <label class="form-check-label" for="free-ship"
                      >Free shipping</label
                    >
                  </div>
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="radio"
                      id="price-ship"
                    />
                    <label class="form-check-label" for="price-ship"
                      >Local Pickup: <span>$10.00</span></label
                    >
                  </div>
                </div>
              </div>
              <div class="ps-checkout__row">
                <div class="ps-title">Total</div>
                <div class="ps-product__price">${{ this.billingAmount }}</div>
              </div>
              <div class="ps-checkout__payment">
                <div class="payment-method">
                  <p class="ps-note">
                    Please Select a Suitable Payment Method Below.
                  </p>
                </div>
                <div class="paypal-method">
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="radio"
                      value="Paypal"
                      formControlName="paymentType"
                      id="paypal"
                      [(ngModel)]="this.checkoutObject.paymentType"
                      name="paymentType"
                    />
                    <label class="form-check-label" for="paypal">
                      PayPal
                      <img src="img/AM_mc_vs_ms_ae_UK.png" alt="" />
                      <a
                        href="https://www.paypal.com/uk/webapps/mpp/paypal-popup"
                        >What is PayPal?
                      </a>
                    </label>
                  </div>
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="radio"
                      id="bank"
                      value="Bank"
                      name="paymentType"
                      [(ngModel)]="this.checkoutObject.paymentType"
                      formControlName="paymentType"
                    />
                    <label class="form-check-label" for="bank">
                      Bank ( Credit / Debit ) Card
                      <img src="img/AM_mc_vs_ms_ae_UK.png" alt="" />
                    </label>
                  </div>
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="radio"
                      value="CashOnDelivery"
                      id="cash"
                      name="paymentType"
                      [(ngModel)]="this.checkoutObject.paymentType"
                      formControlName="paymentType"
                    />
                    <label class="form-check-label" for="cash">
                      Cash-On-Delivery
                      <img src="img/AM_mc_vs_ms_ae_UK.png" alt="" />
                    </label>
                  </div>
                </div>
                <div class="check-faq">
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      id="agree-faq"
                      checked
                    />
                    <label class="form-check-label" for="agree-faq">
                      I have read and agree to the website terms and conditions
                      *</label
                    >
                  </div>
                </div>
                <button
                  (click)="onCheckoutFormCheck()"
                  class="ps-btn ps-btn--warning"
                >
                  Place Order
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="row">
  <modal #myModal>
    <modal-header class="bghead">
      <div>
        <i class="fa fa-check-circle chk" aria-hidden="true"></i>
      </div>
    </modal-header>
    <modal-content class="text-center">
      <div style="padding-top: 10%">
        <!-- <i style="font-size: 74px; color: #198ae3; padding-bottom: 5%;" class="fa fa-check-circle" aria-hidden="true"></i> -->
        <h3>Order Placed Successfully</h3>
        <h3 style="color: rgb(44, 93, 255); padding-top: 5%">
          Thank You for Ordering
        </h3>
        <h3 style="color: rgb(44, 93, 255); padding-top: 5%">
          Your Tracing ID is : {{ trackingIDofCustomer }}
        </h3>
      </div>
    </modal-content>
    <modal-footer>
      <button class="btn btn-danger" (click)="closeModal()">close</button>
    </modal-footer>
  </modal>
</div>
