.chk {
    font-size     : 80px;
    color         : #ffffff;
    // padding-bottom: 5%;
    padding-left  : 210px;
    // transform: translatey(-60px);
}

.bghead{
    background-color: #198ae3;
    width: 100%;
    position: absolute;
transform: translatex(-3%);
padding-top: 3%;
padding-bottom: 3%;
}