<header class="ps-header ps-header--1">
  <div class="ps-noti">
    <!-- <div class="container">
          <p class="m-0">Due to the <strong>COVID 19 </strong>epidemic, orders may be processed with a slight
              delay</p>
      </div> -->
    <a class="ps-noti__close"><i class="icon-cross"></i></a>
  </div>
  <div class="ps-header__top">
    <div class="container">
      <div class="ps-header__text">
        Need help? <strong>0020 - 500 - 000</strong>
      </div>
    </div>
  </div>
  <div class="ps-header__middle">
    <div class="container">
      <div class="ps-logo">
        <a>
          <img
            src="/../../assets/images/new-med-icon.png"
            width="70"
            height="60"
            alt /><img
            class="sticky-logo"
            src="/../../assets/new-med-icon.png"
            width="70"
            height="60"
            alt
        /></a>
      </div>
      <a class="ps-menu--sticky"><i class="fa fa-bars"></i></a>
      <div class="ps-header__right">
        <ul class="ps-header__icons">
          <li>
            <a class="ps-header__item open-search"
              ><i class="icon-magnifier"></i
            ></a>
          </li>
          <li>
            <a class="ps-header__item" id="login-modal"
              ><i class="icon-user"></i
            ></a>
            <div class="ps-login--modal">
              <form method="get" action="do_action">
                <div class="form-group">
                  <label>Username or Email Address</label>
                  <input class="form-control" type="text" />
                </div>
                <div class="form-group">
                  <label>Password</label>
                  <input class="form-control" type="password" />
                </div>
                <div class="form-group form-check">
                  <input class="form-check-input" type="checkbox" />
                  <label>Remember Me</label>
                </div>
                <button class="ps-btn ps-btn--warning" type="submit">
                  Log In
                </button>
              </form>
            </div>
          </li>

          <!-- <ul class="menu">
                      <li class="has-mega-menu"><a href="#"> <i class="fa fa-bars"></i>Products<span
                                  class="sub-toggle"><i class="fa fa-chevron-down"></i></span></a>
                          <div class="mega-menu">
                              <div class="container">
                                  <div class="mega-menu__row">
                                      <div class="mega-menu__column">
                                          <form method="get" action="do_action">
                                              <div class="form-group">
                                                  <label>Username or Email Address</label>
                                                  <input class="form-control" type="text">
                                              </div>
                                              <div class="form-group">
                                                  <label>Password</label>
                                                  <input class="form-control" type="password">
                                              </div>
                                              <div class="form-group form-check">
                                                  <input class="form-check-input" type="checkbox">
                                                  <label>Remember Me</label>
                                              </div>
                                              <button class="ps-btn ps-btn--warning" type="submit">Log In</button>
                                          </form>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </li>
                  </ul> -->

          <li>
            <a class="ps-header__item"
              ><i class="fa fa-heart-o"></i><span class="badge">3</span></a
            >
          </li>
          <li>
            <a class="ps-header__item" id="cart-mini">
              <i class="icon-cart-empty" (click)="Goto5()"></i>
              <span class="badge">
                {{
                  this._CartService.NewCart == undefined ||
                  this._CartService.NewCart == null
                    ? 0
                    : this._CartService.NewCart.items.length
                }}
              </span></a
            >
            <div class="ps-cart--mini">
              <ul class="ps-cart__items">
                <li class="ps-cart__item">
                  <div class="ps-product--mini-cart">
                    <a class="ps-product__thumbnail"
                      ><img
                        src="/../../assets/images/new-med-icon.png"
                        width="70"
                        height="60"
                        alt
                    /></a>
                    <div class="ps-product__content">
                      <a class="ps-product__name"
                        >Somersung Sonic X2500 Pro White</a
                      >
                      <p class="ps-product__meta">
                        <span class="ps-product__price">$399.99</span>
                      </p>
                    </div>
                    <a class="ps-product__remove"><i class="icon-cross"></i></a>
                  </div>
                </li>
                <li class="ps-cart__item">
                  <div class="ps-product--mini-cart">
                    <a class="ps-product__thumbnail"
                      ><img src="img/products/001.jpg" alt="alt"
                    /></a>
                    <div class="ps-product__content">
                      <a class="ps-product__name"
                        >Digital Thermometer X30-Pro</a
                      >
                      <p class="ps-product__meta">
                        <span class="ps-product__sale">$77.65</span
                        ><span class="ps-product__is-price">$80.65</span>
                      </p>
                    </div>
                    <a class="ps-product__remove"><i class="icon-cross"></i></a>
                  </div>
                </li>
              </ul>
              <div class="ps-cart__total">
                <span>Subtotal </span><span>$399</span>
              </div>
              <div class="ps-cart__footer">
                <a class="ps-btn ps-btn--outline">View Cart</a
                ><a class="ps-btn ps-btn--warning">Checkout</a>
              </div>
            </div>
          </li>
        </ul>
        <div class="ps-language-currency">
          <a
            class="ps-dropdown-value"
            data-toggle="modal"
            data-target="#popupLanguage"
            >English</a
          ><a
            class="ps-dropdown-value"
            data-toggle="modal"
            data-target="#popupCurrency"
            >USD</a
          >
        </div>
        <div class="ps-header__search">
          <form action="do_action" method="post">
            <div class="ps-search-table">
              <div class="input-group">
                <input
                  class="form-control ps-input"
                  type="text"
                  placeholder="Search for products"
                />
                <!-- <div class="input-group-append icondiv"  ><a ><i class="fa fa-search"></i></a></div> -->
              </div>
            </div>
          </form>
          <div class="ps-search--result">
            <div class="ps-result__content">
              <div class="row m-0">
                <div class="col-12 col-lg-6">
                  <div class="ps-product ps-product--horizontal">
                    <div class="ps-product__thumbnail">
                      <a class="ps-product__image">
                        <figure>
                          <img src="img/products/052.jpg" alt="alt" />
                        </figure>
                      </a>
                    </div>
                    <div class="ps-product__content">
                      <h5 class="ps-product__title">
                        <a
                          >3-layer <span class="hightlight">mask</span> with an
                          elastic band (1 piece)</a
                        >
                      </h5>
                      <p class="ps-product__desc">
                        Study history up to 30 days Up to 5 users simultaneously
                        Has HEALTH certificate
                      </p>
                      <div class="ps-product__meta">
                        <span class="ps-product__price">$38.24</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-lg-6">
                  <div class="ps-product ps-product--horizontal">
                    <div class="ps-product__thumbnail">
                      <a class="ps-product__image">
                        <figure>
                          <img src="img/products/033.jpg" alt="alt" />
                        </figure>
                      </a>
                    </div>
                    <div class="ps-product__content">
                      <h5 class="ps-product__title">
                        <a
                          >3 Layer Disposable Protective Face
                          <span class="hightlight">mask</span>s</a
                        >
                      </h5>
                      <p class="ps-product__desc">
                        Study history up to 30 days Up to 5 users simultaneously
                        Has HEALTH certificate
                      </p>
                      <div class="ps-product__meta">
                        <span class="ps-product__price sale">$14.52</span
                        ><span class="ps-product__del">$17.24</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-lg-6">
                  <div class="ps-product ps-product--horizontal">
                    <div class="ps-product__thumbnail">
                      <a class="ps-product__image">
                        <figure>
                          <img src="img/products/051.jpg" alt="alt" />
                        </figure>
                      </a>
                    </div>
                    <div class="ps-product__content">
                      <h5 class="ps-product__title">
                        <a
                          >3-Ply Ear-Loop Disposable Blue Face
                          <span class="hightlight">mask</span></a
                        >
                      </h5>
                      <p class="ps-product__desc">
                        Study history up to 30 days Up to 5 users simultaneously
                        Has HEALTH certificate
                      </p>
                      <div class="ps-product__meta">
                        <span class="ps-product__price sale">$14.99</span
                        ><span class="ps-product__del">$38.24</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-lg-6">
                  <div class="ps-product ps-product--horizontal">
                    <div class="ps-product__thumbnail">
                      <a class="ps-product__image">
                        <figure>
                          <img src="img/products/050.jpg" alt="alt" />
                        </figure>
                      </a>
                    </div>
                    <div class="ps-product__content">
                      <h5 class="ps-product__title">
                        <a
                          >Disposable Face
                          <span class="hightlight">mask</span> for Unisex</a
                        >
                      </h5>
                      <p class="ps-product__desc">
                        Study history up to 30 days Up to 5 users simultaneously
                        Has HEALTH certificate
                      </p>
                      <div class="ps-product__meta">
                        <span class="ps-product__price sale">$8.15</span
                        ><span class="ps-product__del">$12.24</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="ps-result__viewall"><a>View all 5 results</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ps-navigation">
    <div class="container">
      <div class="ps-navigation__left">
        <nav class="ps-main-menu">
          <ul class="menu">
            <li class="has-mega-menu">
              <a>
                <i class="fa fa-bars"></i>Products<span class="sub-toggle"
                  ><i class="fa fa-chevron-down"></i></span
              ></a>
              <div class="mega-menu">
                <div class="container">
                  <div class="mega-menu__row">
                    <div class="mega-menu__column">
                      <h4>Wound Care</h4>
                      <ul class="sub-menu--mega">
                        <li><a>Bandages</a></li>
                        <li><a>Gypsum foundations</a></li>
                        <li><a>Patches and tapes</a></li>
                        <li><a>Stomatology</a></li>
                        <li><a>Surgical sutures</a></li>
                        <li><a>Uniforms</a></li>
                        <li><a>Wound healing</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </li>

            <!-- <li class="has-mega-menu"><a href="">Shop</a></li> -->

            <li class="has-mega-menu"><a (click)="Goto3()">Shop</a></li>

            <li class="has-mega-menu"><a (click)="Goto2()">Blog</a></li>
            <li class="has-mega-menu"><a (click)="Goto4()">FAQs</a></li>
            <li class="has-mega-menu"><a (click)="Goto1()">Contact</a></li>
            <li class="has-mega-menu"><a (click)="Goto()">About us</a></li>
          </ul>
        </nav>
      </div>
      <div class="ps-navigation__right">
        Need help? <strong>0020 - 500 - 000</strong>
      </div>
    </div>
  </div>
</header>

<header class="addmobile_header search">
  <div class="row">
    <div class="size col-lg-6">
      <div class="ps-logo">
        <a>
          <img
            src="/../../assets/images/new-med-icon.png"
            width="70"
            height="60"
            alt
        /></a>
      </div>
    </div>
    <div class="col-lg-6">
      <input
        class="form-control ps1-input"
        type="text"
        placeholder="Search for products"
      />
      <div class="input-group-append icondiv">
        <a><i class="fa fa-search"></i></a>
      </div>
    </div>
  </div>
</header>
