<!-- about us -->
<div class="ps-about">
    <div class="container">
        <ul class="ps-breadcrumb">
            <li class="ps-breadcrumb__item"><a>Home</a></li>
            <li class="ps-breadcrumb__item active" aria-current="page">About us</li>
        </ul>
        <section class="ps-banner--round">
            <div class="ps-banner">
                <div class="ps-banner__block">
                    <div class="ps-banner__content">
                        <div class="ps-logo"><a>
                             <!-- <img src="/../../assets/images/pharm-icon.jpg" height="100" alt> -->
                            </a>
                        </div>
                        <h2 class="ps-banner__title">Your one and only <br>online pharmacy!</h2>
                        <div class="ps-banner__btn-group">
                            <div class="ps-banner__btn"><img src="/../../assets/images/virus.svg" alt>Up to 5 users
                                simultaneously
                            </div>
                            <div class="ps-banner__btn"><img src="/../../assets/images/ribbon.svg" alt>Has HEALTH
                                certificate</div>
                        </div><a class="ps-banner__shop bg-yellow">About</a>
                    </div>
                    <div class="ps-banner__thumnail"><img class="ps-banner__round" src="/../../assets/images/round5.png"
                            alt><img class="ps-banner__image" src="/../../assets/images/girl-face-mask.png" alt></div>
                </div>
            </div>
        </section>
        <section class="ps-about--info">
            <h2 class="ps-about__title">Effective and reliable <br>protection for your teeth</h2>
            <p class="ps-about__subtitle">The brush handle fits perfectly in the hand, is slim and beautifully made.</p>
            <div class="ps-about__extent">
                <div class="row m-0">
                    <div class="col-12 col-md-4 p-0">
                        <div class="ps-block--about">
                            <div class="ps-block__icon"><img src="/../../assets/images/award-icon-2.png" alt=""></div>
                            <h4 class="ps-block__title">Health Certificate 2000 - <br />professional care</h4>
                            <div class="ps-block__subtitle">The highest quality and protection for your teeth</div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 p-0">
                        <div class="ps-block--about">
                            <div class="ps-block__icon"><img src="/../../assets/images/dentistry-icon-2.png" alt="">
                            </div>
                            <h4 class="ps-block__title">Sonic cleaning <br />and whitening power</h4>
                            <div class="ps-block__subtitle">At the same time, it protects and whitens</div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 p-0">
                        <div class="ps-block--about">
                            <div class="ps-block__icon"><img src="/../../assets/images/toothbrush-icon-2.png" alt="">
                            </div>
                            <h4 class="ps-block__title">3 types <br />of cleaning tips</h4>
                            <div class="ps-block__subtitle">Round, rectangular and super-wide</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="ps-about__content">
        <!-- <section class="ps-about__banner" style="background-image: url('/../../assets/images/Mask-Group.jpg');">
            <div class="container">
                <div class="ps-banner">
                    <h2 class="ps-banner__title">Hundreds of thousands of products at bargain prices</h2>
                    <div class="ps-banner__desc">Completely the needs of home medicine chest and professional offices
                    </div><a class="ps-banner__shop">Shop now</a>
                </div>
            </div>
        </section> -->
        <section class="ps-about__project">
            <div class="container">
                <h2 class="ps-about__title">Your home medical provider now also online</h2>
                <section class="ps-section--block-grid">
                    <div class="ps-section__thumbnail"> <a class="ps-section__image"><img
                                src="/../../assets/images/about-us-1.jpg" alt=""></a></div>
                    <div class="ps-section__content">
                        <h3 class="ps-section__title">Top quality products and proven suppliers with quality
                            certificates!</h3>
                        <div class="ps-section__subtitle">They have CEE 2020 certificate.</div>
                        <div class="ps-section__desc">Hundreds of thousands of products at bargain prices. Completely
                            the needs of home medicine chest and professional offices. Effective and reliable protection
                            for your teeth. The brush handle fits perfectly in the hand, is slim and beautifully made.
                        </div>
                        <ul class="ps-section__list">
                            <li>Study history up to 30 days</li>
                            <li>Up to 5 users simultaneously</li>
                            <li>Has HEALTH certificate</li>
                        </ul>
                    </div>
                </section>
                <section class="ps-section--block-grid row-reverse">
                    <div class="ps-section__thumbnail"> <a class="ps-section__image"><img
                                src="/../../assets/images/about-us-2.jpg" alt=""></a></div>
                    <div class="ps-section__content">
                        <h3 class="ps-section__title">Many years of experience and a high level of consumer confidence
                        </h3>
                        <div class="ps-section__subtitle">Developed for over 30 years on the market</div>
                        <div class="ps-section__desc">There are many variations of passages of Lorem Ipsum available,
                            but the majority have suffered altevration in some form, by injected humour, or randomised
                            words which don’t look even slightly believable.</div>
                        <ul class="ps-section__list">
                            <li>Proin nec lectus dolor.</li>
                            <li>Curabitur egestas molestie lorem sed pharetra.</li>
                            <li>Integer volutpat efficitur tellus vel tempus.</li>
                        </ul>
                    </div>
                </section>
                <section class="ps-section--block-grid">
                    <div class="ps-section__thumbnail"> <a class="ps-section__image"><img
                                src="/../../assets/images/about-us-3.jpg" alt=""></a></div>
                    <div class="ps-section__content">
                        <h3 class="ps-section__title">Just a few seconds to measure your body temperature. Up to 5
                            users!</h3>
                        <div class="ps-section__subtitle">The battery lasts up to 2 years.</div>
                        <div class="ps-section__desc">There are many variations of passages of Lorem Ipsum available,
                            but the majority have suffered altevration in some form, by injected humour, or randomised
                            words which don’t look even slightly believable.</div>
                        <ul class="ps-section__list">
                            <li>Study history up to 30 days</li>
                            <li>Up to 5 users simultaneously</li>
                            <li>Has HEALTH certificate</li>
                        </ul>
                    </div>
                </section>
            </div>
        </section>
        <section class="ps-about--video">
            <div class="ps-banner">
                <div class="container">
                    <div class="ps-banner__block">
                        <div class="ps-banner__content">
                            <h2 class="ps-banner__title">Your one and only<br>online pharmacy!</h2>
                            <div class="ps-banner__desc">Only this week 30% to 50% cheaper!</div>
                            <div class="ps-banner__btn-group">
                                <div class="ps-banner__btn"><img src="img/icon/virus.svg" alt>Up to 5 users
                                    simultaneously</div>
                                <div class="ps-banner__btn"><img src="img/icon/ribbon.svg" alt>Has HEALTH certificate
                                </div>
                            </div><a class="ps-banner__shop bg-warning">About</a>
                        </div>
                        <div class="ps-banner__thumnail">
                            <div style="display:none;" id="video1">
                                <video class="lg-video-object lg-html5" controls="" preload="none">
                                    <source src="img/video.mp4" type="video/mp4">Your browser does not support HTML5
                                    video.
                                </video>
                            </div><img class="ps-banner__image"
                                src="/../../assets/images/goby-tD3GaS9ysF4-unsplash-1.jpg" alt>
                            <div id="ps-video-gallery">
                                <div class="video" data-html="#video1"
                                    data-poster="/../../assets/images/goby-tD3GaS9ysF4-unsplash-1.jpg"><a>
                                        <div class="ps-banner__video"><i class="fa fa-play"></i></div>
                                    </a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- <section class="ps-section--reviews" data-background="img/roundbg.png">
            <h3 class="ps-section__title"> <img src="/../../assets/images/quote-icon.png" alt>Latest reviews</h3>
            <div class="ps-section__content">
                <div class="owl-carousel" data-owl-auto="false" data-owl-loop="true" data-owl-speed="13000"
                    data-owl-gap="0" data-owl-nav="true" data-owl-dots="true" data-owl-item="5" data-owl-item-xs="1"
                    data-owl-item-sm="1" data-owl-item-md="3" data-owl-item-lg="5" data-owl-item-xl="5"
                    data-owl-duration="1000" data-owl-mousedrag="on">
                    <div class="ps-review">
                        <div class="ps-review__text">There was a small mistake in the order. In return, I got the
                            correct order and I could keep the wrong one for myself.</div>
                        <div class="ps-review__name">Esther Howard</div>
                        <div class="ps-review__review">
                            <select class="ps-rating" data-read-only="true">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4" selected="selected">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                    </div>
                    <div class="ps-review">
                        <div class="ps-review__text">I ordered on Friday evening and on Monday at 12:30 the package was
                            with me. I have never encountered such a fast order processing.</div>
                        <div class="ps-review__name">Albert Flores</div>
                        <div class="ps-review__review">
                            <select class="ps-rating" data-read-only="true">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4" selected="selected">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                    </div>
                    <div class="ps-review">
                        <div class="ps-review__text">I ordered on Friday evening and on Monday at 12:30 the package was
                            with me. I have never encountered such a fast order processing.</div>
                        <div class="ps-review__name">Dianne Russell</div>
                        <div class="ps-review__review">
                            <select class="ps-rating" data-read-only="true">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4" selected="selected">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                    </div>
                    <div class="ps-review">
                        <div class="ps-review__text">Everything is perfect. I would recommend!</div>
                        <div class="ps-review__name">Darlene Robertson</div>
                        <div class="ps-review__review">
                            <select class="ps-rating" data-read-only="true">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4" selected="selected">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                    </div>
                    <div class="ps-review">
                        <div class="ps-review__text">There was a small mistake in the order. In return, I got the
                            correct order and I could keep the wrong one for myself.</div>
                        <div class="ps-review__name">Brooklyn Simmons</div>
                        <div class="ps-review__review">
                            <select class="ps-rating" data-read-only="true">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4" selected="selected">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                    </div>
                    <div class="ps-review">
                        <div class="ps-review__text">Everything is perfect. I would recommend!</div>
                        <div class="ps-review__name">Kristin Watson</div>
                        <div class="ps-review__review">
                            <select class="ps-rating" data-read-only="true">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4" selected="selected">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                    </div>
                    <div class="ps-review">
                        <div class="ps-review__text">I ordered on Friday evening and on Monday at 12:30 the package was
                            with me. I have never encountered such a fast order processing.</div>
                        <div class="ps-review__name">Mark J.</div>
                        <div class="ps-review__review">
                            <select class="ps-rating" data-read-only="true">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4" selected="selected">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
    </div>
    <div class="container">
        <!-- <section class="ps-section--blog">
            <h3 class="ps-section__title">From the blog</h3>
            <div class="ps-section__carousel">
                <div class="owl-carousel" data-owl-auto="false" data-owl-loop="true" data-owl-speed="13000"
                    data-owl-gap="0" data-owl-nav="true" data-owl-dots="true" data-owl-item="3" data-owl-item-xs="1"
                    data-owl-item-sm="1" data-owl-item-md="2" data-owl-item-lg="3" data-owl-item-xl="3"
                    data-owl-duration="1000" data-owl-mousedrag="on">
                    <div class="ps-section__item">
                        <div class="ps-blog--latset">
                            <div class="ps-blog__thumbnail"><a href="blog-post1.html"><img
                                        src="/../../assets/images/blog2-496x262.jpg" alt="alt" /></a>
                                <div class="ps-blog__badge"><span class="ps-badge__item">MEDIC</span><span
                                        class="ps-badge__item">PHARMACY</span><span class="ps-badge__item">SALE</span>
                                </div>
                            </div>
                            <div class="ps-blog__content">
                                <div class="ps-blog__meta"> <span class="ps-blog__date">May 18, 2021</span><a
                                        class="ps-blog__author" >Alfredo Austin</a></div><a
                                    class="ps-blog__title" href="blog-post1.html">[PDF REPORT] – Impact of wearing masks
                                    on social behavior</a>
                            </div>
                        </div>
                    </div>
                    <div class="ps-section__item">
                        <div class="ps-blog--latset">
                            <div class="ps-blog__thumbnail"><a href="blog-post1.html"><img
                                        src="/../../assets/images/blog11-496x262.jpg" alt="alt" /></a>
                                <div class="ps-blog__badge"><span class="ps-badge__item">MEDIC</span><span
                                        class="ps-badge__item">PHARMACY</span><span class="ps-badge__item">SALE</span>
                                </div>
                            </div>
                            <div class="ps-blog__content">
                                <div class="ps-blog__meta"> <span class="ps-blog__date">May 18, 2021</span><a
                                        class="ps-blog__author" >Alfredo Austin</a></div><a
                                    class="ps-blog__title" href="blog-post1.html">The latest tests of popular masks in
                                    accordance with CV2s standards</a>
                            </div>
                        </div>
                    </div>
                    <div class="ps-section__item">
                        <div class="ps-blog--latset">
                            <div class="ps-blog__thumbnail"><a href="blog-post1.html"><img
                                        src="/../../assets/images/blog13-496x262.jpg" alt="alt" /></a>
                                <div class="ps-blog__badge"><span class="ps-badge__item">MEDIC</span><span
                                        class="ps-badge__item">PHARMACY</span><span class="ps-badge__item">SALE</span>
                                </div>
                            </div>
                            <div class="ps-blog__content">
                                <div class="ps-blog__meta"> <span class="ps-blog__date">May 18, 2021</span><a
                                        class="ps-blog__author" >Alfredo Austin</a></div><a
                                    class="ps-blog__title" href="blog-post1.html">The latest tests of popular masks in
                                    accordance with CV2s standards</a>
                            </div>
                        </div>
                    </div>
                    <div class="ps-section__item">
                        <div class="ps-blog--latset">
                            <div class="ps-blog__thumbnail"><a href="blog-post1.html"><img
                                        src="/../../assets/images/blog12-496x262.jpg" alt="alt" /></a>
                                <div class="ps-blog__badge"><span class="ps-badge__item">MEDIC</span><span
                                        class="ps-badge__item">PHARMACY</span><span class="ps-badge__item">SALE</span>
                                </div>
                            </div>
                            <div class="ps-blog__content">
                                <div class="ps-blog__meta"> <span class="ps-blog__date">May 18, 2021</span><a
                                        class="ps-blog__author" >Alfredo Austin</a></div><a
                                    class="ps-blog__title" href="blog-post1.html">New special offer for customers who
                                    have been with us for 10 years</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
        <section class="ps-section--newsletter" data-background="/../../assets/images/newsletter-bg.jpg">
            <h3 class="ps-section__title">Join our newsletter and get <br>$20 discount for your first order</h3>
            <div class="ps-section__content">
                <form action="do_action" method="post">
                    <div class="ps-form--subscribe">
                        <div class="ps-form__control">
                            <input class="form-control ps-input" type="email" placeholder="Enter your email address">
                            <button class="ps-btn ps-btn--warning">Subscribe</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>