<div class="ps-shopping">
  <div class="container">
    <ul class="ps-breadcrumb">
      <li class="ps-breadcrumb__item"><a href="index.html">Home</a></li>
      <li class="ps-breadcrumb__item active" aria-current="page">
        Shopping cart
      </li>
    </ul>
    <h3 class="ps-shopping__title">Shopping cart<sup>(3)</sup></h3>
    <div class="ps-shopping__content">
      <div class="row">
        <div class="col-12 col-md-7 col-lg-9">
          <div class="ps-shopping__table">
            <table class="table ps-table ps-table--product">
              <thead>
                <tr>
                  <th class="ps-product__remove"></th>
                  <th class="ps-product__thumbnail"></th>
                  <th class="ps-product__name">Product name</th>
                  <th class="ps-product__meta">Unit price</th>
                  <th class="ps-product__quantity">Quantity</th>
                  <th class="ps-product__subtotal">Subtotal</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="
                    let item of this._CartService.NewCart.items;
                    let i = index
                  "
                >
                  <td class="ps-product__remove">
                    <a (click)="removeItem(item, i)"
                      ><i class="icon-cross"></i
                    ></a>
                  </td>
                  <td class="ps-product__thumbnail">
                    <a class="ps-product__image" href="product1.html">
                      <figure>
                        <img
                          src="/../../assets/images/bg1-removebg-preview.png"
                          alt
                        />
                      </figure>
                    </a>
                  </td>
                  <td class="ps-product__name">
                    <a href="product1.html">{{ item.productName }}</a>
                  </td>
                  <td class="ps-product__meta">
                    <span class="ps-product__price">${{ item.price }}</span>
                  </td>
                  <td class="ps-product__quantity">
                    <div class="def-number-input number-input safari_only">
                      <button
                        class="minus"
                        (click)="quantityChanged('decrement', item)"
                      >
                        <i class="icon-minus"></i>
                      </button>
                      <input
                        class="quantity"
                        min="0"
                        name="quantity"
                        [value]="item.quantity"
                        type="number"
                        [(ngModel)]="item.quantity"
                      />
                      <button
                        class="plus"
                        (click)="quantityChanged('increment', item)"
                      >
                        <i class="icon-plus"></i>
                      </button>
                    </div>
                  </td>
                  <td class="ps-product__subtotal">
                    ${{ item.quantity * item.price }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="ps-shopping__footer">
            <div class="ps-shopping__coupon">
              <input
                class="form-control ps-input"
                type="text"
                placeholder="Coupon code"
                [(ngModel)]="couponCode"
              />
              <button
                class="ps-btn ps-btn--primary"
                type="button"
                (click)="applyCoupon()"
              >
                Apply coupon
              </button>
            </div>
            <div class="ps-shopping__button">
              <button
                class="ps-btn ps-btn--primary"
                type="button"
                (click)="clearCart()"
              >
                Clear All
              </button>
              <button class="ps-btn ps-btn--primary" type="button">
                Update cart
              </button>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-5 col-lg-3">
          <div class="ps-shopping__label">Cart totals</div>
          <div class="ps-shopping__box">
            <div class="ps-shopping__row">
              <div class="ps-shopping__label">Subtotal</div>
              <div class="ps-shopping__price">$120.46</div>
            </div>
            <div class="ps-shopping__label">Shipping</div>
            <div class="ps-shopping__checkbox">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  id="cart-free-ship"
                  checked
                />
                <label class="form-check-label" for="cart-free-ship"
                  >Free shipping</label
                >
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" id="cart-ship" />
                <label class="form-check-label" for="cart-ship"
                  >Local Pickup: $10.00</label
                >
              </div>
            </div>
            <div class="ps-shopping__text">
              Shipping options will be updated during checkout.
            </div>
            <a class="ps-shopping__toggle" href="#">Calculate shipping</a>
            <div class="ps-shopping__form">
              <div class="ps-shopping__group">
                <select class="js-example-basic-single" name="state">
                  <option selected>Select a country / region…</option>
                  <option>Afghanistan</option>
                  <option>Åland Islands</option>
                  <option>Albania</option>
                  <option>Andorra</option>
                  <option>American Samoa</option>
                  <option>Andorra</option>
                </select>
              </div>
              <div class="ps-shopping__group">
                <input
                  class="form-control ps-input"
                  type="text"
                  placeholder="County"
                />
              </div>
              <div class="ps-shopping__group">
                <input
                  class="form-control ps-input"
                  type="text"
                  placeholder="Town / City"
                />
              </div>
              <div class="ps-shopping__group">
                <input
                  class="form-control ps-input"
                  type="text"
                  placeholder="Postcode"
                />
              </div>
            </div>
            <div class="ps-shopping__row">
              <div class="ps-shopping__label">Total</div>
              <div class="ps-shopping__price">$120.46</div>
            </div>
            <div class="ps-shopping__checkout">
              <a class="ps-btn ps-btn--warning" (click)="Goto()"
                >Proceed to checkout</a
              ><a class="ps-shopping__link" href="category-list.html"
                >Continue To Shopping</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
