<!-- <h1>Travella</h1> -->
<div class="scroll">
    <div class="image container2">
        <img class="img1" src="../../assets/images/Cover.png" width="100%" height="450">
        <div class="bottom-left">Welcome to Travella</div>

    </div>


    <div class="container">
        <button class="login">Login</button>


    </div>

    <div class="container">
        <button class="rig ">Register Now</button>


    </div>

    <div class="container">
        <button class="lets" (click)="Goto()">Lets Explore

        </button>

    </div>
</div>