<footer class="ps-footer ps-footer--1">
  <div class="ps-footer--top">
    <div class="container">
      <div class="row m-0">
        <div class="col-12 col-sm-4 p-0">
          <p class="text-center">
            <a class="ps-footer__link"><i class="icon-wallet"></i>100% Money back</a>
          </p>
        </div>
        <div class="col-12 col-sm-4 p-0">
          <p class="text-center">
            <a class="ps-footer__link"><i class="icon-bag2"></i>Non-contact shipping</a>
          </p>
        </div>
        <div class="col-12 col-sm-4 p-0">
          <p class="text-center">
            <a class="ps-footer__link"><i class="icon-truck"></i>Free delivery for order over $200</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="ps-footer__middle">
      <div class="row">
        <div class="col-12 col-md-7">
          <div class="row">
            <div class="col-12 col-md-4">
              <div class="ps-footer--address">
                <div class="ps-logo"><a> <img src="/../../assets/images/pharm-icon-removebg-preview.png" height="100"
                      alt><img class="logo-white" src="img/logo-white.png" alt><img class="logo-black"
                      src="img/Logo-black.png" alt><img class="logo-white-all" src="img/logo-white1.png" alt><img
                      class="logo-green" src="img/logo-green.png" alt></a></div>
                <div class="ps-footer__title">Our store</div>
                <!-- <p>1487 Rocky Horse Carrefour<br />Arlington, TX 16819</p> -->
                <p>{{ _WebsiteInfoService.WebsiteInfo.address }}</p>
                <p><a target="_blank">Show on map</a></p>
                <ul class="ps-social">
                  <li>
                    <a class="ps-social__link facebook" [href]="_WebsiteInfoService.WebsiteInfo.facebook"><i
                        class="fa fa-facebook"> </i><span class="ps-tooltip">Facebook</span></a>
                  </li>
                  <li>
                    <a class="ps-social__link instagram" [href]="_WebsiteInfoService.WebsiteInfo.instagram"><i
                        class="fa fa-instagram"></i><span class="ps-tooltip">Instagram</span></a>
                  </li>
                  <li>
                    <a class="ps-social__link youtube" [href]="_WebsiteInfoService.WebsiteInfo.youtube"><i
                        class="fa fa-youtube-play"></i><span class="ps-tooltip">Youtube</span></a>
                  </li>
                  <li>
                    <a class="ps-social__link pinterest" [href]="_WebsiteInfoService.WebsiteInfo.pinterest"><i
                        class="fa fa-pinterest-p"></i><span class="ps-tooltip">Pinterest</span></a>
                  </li>
                  <li>
                    <a class="ps-social__link linkedin" [href]="_WebsiteInfoService.WebsiteInfo.linkedin"><i
                        class="fa fa-linkedin"></i><span class="ps-tooltip">Linkedin</span></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-12 col-md-8">
              <div class="ps-footer--contact">
                <h5 class="ps-footer__title">Need help</h5>
                <div class="ps-footer__fax">
                  <i class="icon-telephone"></i>{{ _WebsiteInfoService.WebsiteInfo.phoneNumber }}
                </div>
                <p class="ps-footer__work">
                  {{ _WebsiteInfoService.WebsiteInfo.timingSet }}
                </p>
                <hr />
                <p>
                  <a class="ps-footer__email">
                    <i class="icon-envelope"></i><span class="__cf_email__">{{ _WebsiteInfoService.WebsiteInfo.email
                      }}</span>
                  </a>
                </p>
                <hr>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-5">
          <div class="row">
            <div class="col-6 col-md-4">
              <div class="ps-footer--block">
                <h5 class="ps-block__title">Information</h5>
                <ul class="ps-block__list">
                  <li><a>About us</a></li>
                  <li><a>Delivery information</a></li>
                  <li><a>Privacy Policy</a></li>
                  <li><a>Sales</a></li>
                  <li><a>Terms &amp; Conditions</a></li>
                </ul>
              </div>
            </div>
            <div class="col-6 col-md-4">
              <div class="ps-footer--block">
                <h5 class="ps-block__title">Account</h5>
                <ul class="ps-block__list">
                  <li><a>My account</a></li>
                  <li><a>My orders</a></li>
                  <li><a>Returns</a></li>
                  <li><a>Shipping</a></li>
                  <li><a>Wishlist</a></li>
                </ul>
              </div>
            </div>
            <div class="col-6 col-md-4">
              <div class="ps-footer--block">
                <h5 class="ps-block__title">Store</h5>
                <ul class="ps-block__list">
                  <li><a>Affiliate</a></li>
                  <li><a>Bestsellers</a></li>
                  <li><a>Discount</a></li>
                  <li><a>Latest products</a></li>
                  <li><a>Sale</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ps-footer--bottom">
      <div class="row">
        <div class="col-12 col-md-6">
          <!-- <p>Copyright © 2021 Mymedi. All Rights Reserved</p> -->
        </div>
        <div class="col-12 col-md-6 text-right"><img src="/../../assets/images/payment.png" alt><img
            class="payment-light" src="/../../assets/images/payment-light.png" alt></div>
      </div>
    </div>
  </div>
</footer>