.ps-footer {
    background-color: #daecfa !important;
}

.ps-footer--1 .ps-footer--top .row {
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    height: 70px;
    // padding-bottom: 1%;
    // margin-top: 50px;
}


// @media (min-width: 1279px){
// .container {
//     width: 100%;
// }
// }