.example-spacer {
    flex: 1 1 auto;
}

mat-toolbar {
    background-color: rgb(252, 252, 252);
    height          : 50px;

}

.position-fixed {
    position: fixed;
    z-index : 1;
}

span {
    font-weight: bold;
}

input {
    // -webkit-border-radius: 20px;
    // -moz-border-radius: 20px;
    border-radius: 40px;
    border       : 1px solid #88e3e0;
    color        : #000000;
    width        : 350px;
    height       : 40px;
    padding-left : 10px;
}

input:focus {
    outline: none;
    border : 2px solid #2d9fd9;
    color  : #000000;
}

.container {
    display        : flex;
    justify-content: center;
    align-items    : center;
    margin-top     : 60px;
}



.toolbarNav {
    position        : fixed;
    bottom          : 0;
    z-index         : 1000;
    display         : flex;
    justify-content : space-around;
    padding         : 2em;
    background-color: white;

    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow   : 3px 3px 5px 6px #ccc;
    /* Firefox 3.5 - 3.6 */
    box-shadow        : 2px 2px 4px 5px #ccc;
    /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */

    button {
        display         : flex;
        flex-direction  : column;
        align-items     : center;
        width           : 100%;
        background-color: white;
        color           : #c0c0c0;

        span {
            display       : block;
            letter-spacing: 3px;
        }
    }
}

button:hover,
.active-link {
    color: #00a5ff !important;
}

mat-card {
    background-color: white;

    width                 : 200px;
    height                : 150px;
    margin-right          : 5%;
    margin-left           : 5%;
    // margin-top         : 10%;
    // margin-bottom   : 10%;
    // box-shadow   : 2px 2px 4px 5px #ccc;
}

// .content {
//     padding: 16px;
// }

// .content > mat-card {
//     width: 200px;
// }

.scroll {
    overflow-x: hidden;
}


img {
    border-bottom-left-radius: 20px;
}

.bottom-left {
    position      : absolute;
    bottom        : 150px;
    left          : -7px;
    position      : relative;
    text-align    : left;
    color         : rgb(255, 255, 255);
    font-weight   : 500;
    font-size     : 20px !important;
    letter-spacing: 2px !important;

}

// .container2 {
.heading {
    font-size  : 24px;
    font-weight: bold;
    margin-left: 5%;
    width: 200px !important;
    letter-spacing: 2px !important;

}
.heading1 {
    font-size  : 24px;
    font-weight: bold;
    margin-left: 3%;
    width: 200px !important;
    letter-spacing: 2px !important;

}
.go {
    font-size       : 14px;
    text-align      : center;
    font-weight     : bold;
    background-color: #00a5ff;
    border-radius   : 50px;
    height          : 50px;
    width           : 50px;
    border          : 1px solid #00a5ff;
    margin-left     : 40%;
    color: rgb(255, 255, 255) !important;

}

.go:hover {
    color: rgb(255, 255, 255) !important;
}

hr{
    color: black;
}