<!-- shop product cart second UI -->

<div class="ps-categogy">
  <div class="container">
    <!-- <ul class="ps-breadcrumb">
      <li class="ps-breadcrumb__item"><a>Home</a></li>
      <li class="ps-breadcrumb__item"><a>Shop</a></li>
      <li class="ps-breadcrumb__item active" aria-current="page">Diagnosis</li>
    </ul> -->
    <h1 class="ps-categogy__name">Antibiotic<sup></sup></h1>
    <div class="ps-categogy__content">
      <div class="row row-reverse">
        <div class="col-12 col-md-9">
          <div class="ps-categogy__wrapper">
            <div class="ps-categogy__type">
              <a class="active"><img src="/../../assets/images/bars.svg" alt /></a>
              <!-- <a><img src="/../../assets/images/gird2.svg" alt /></a
              >
              <a><img src="/../../assets/images/gird3.svg" alt /></a
              >
              <a><img src="/../../assets/images/gird4.svg" alt /></a> -->
            </div>
            <div class="ps-categogy__onsale">
              <form>
                <div class="custom-control custom-checkbox">
                  <input class="custom-control-input" type="checkbox" id="onSaleProduct"
                    style="transform: translate(-5px, 5px)" />
                  <label class="custom-control-label" for="onSaleProduct">Show only products on sale</label>
                </div>
              </form>
            </div>

            <div class="ps-categogy__sort " style="margin-right: 5%;" >
              <form>
                <span>Item per page</span>
                <select class="form-select">
                  <!-- <option selected>Select item per page</option> -->
                  <option value="5">5</option>
                  <option value="10">10</option>
                  <option value="20">20</option>

                </select>
              </form>
            </div>

            <div class="ps-categogy__sort">
              <form>
                <span>Sort by</span>
                <select class="form-select">
                  <option selected>Latest</option>
                  <option value="Popularity">Popularity</option>
                  <option value="Average rating">Average rating</option>
                  <option value="Latest">Latest</option>
                  <option value="Price: low to high">Price: low to high</option>
                  <option value="Price: high to low">Price: high to low</option>
                </select>
              </form>
            </div>
            <div class="ps-categogy__show">
              <form>
                <span>Show</span>
                <select class="form-select">
                  <option selected>12</option>
                  <option value="24">24</option>
                  <option value="36">36</option>
                  <option value="48">48</option>
                </select>
              </form>
            </div>
          </div>
          <div class="ps-categogy--list" *ngIf="this._ProductService.allProductData != undefined">
            <div class="ps-product ps-product--list" *ngFor="
                let product of this._ProductService.allProductData;
                let productIndex = index
              ">
              <div class="ps-product__content">
                <div class="ps-product__thumbnail">
                  <a class="ps-product__image">
                    <figure>
                      <img [src]="product.imageURLID" alt="alt" />
                    </figure>
                  </a>
                  <div class="ps-product__actions">
                    <div class="ps-product__item" data-toggle="tooltip" data-placement="left" title="Quick view">
                      <a data-toggle="modal" data-target="#popupQuickview"><i class="fa fa-search"
                          (click)="openModal(product)"></i></a>
                    </div>
                  </div>
                  <div class="ps-product__badge"></div>
                </div>
                <div class="ps-product__info">
                  <a class="ps-product__branch">Plus UK Meds</a>
                  <h5 class="ps-product__title">
                    <a>{{ product.name }}</a>
                  </h5>
                  <div class="ps-product__rating">
                    <select class="ps-rating" data-read-only="true"
                      (change)="setPillTypeValue(product, $event, productIndex)">
                      <option *ngFor="
                          let pill of product.typesOfPill;
                          let pillIndex = index
                        " [value]="pillIndex">
                        {{ pill.quantity }} pills for ${{ pill.our_price }}
                      </option>
                    </select>
                    <span class="ps-product__review">(7 Reviews)</span>
                  </div>
                  <div class="ps-product__desc">
                    <ul class="ps-product__list">
                      <li>Study history up to 30 days</li>
                      <li>Up to 5 users simultaneously</li>
                      <li>Has HEALTH certificate</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="ps-product__footer">
                <div class="ps-product__meta" *ngFor="let pill of product.typesOfPill; let j = index">
                  <div *ngIf="j == 0" [id]="j">
                    <span class="ps-product__price sale">${{ pill.our_price }}</span>
                    <span class="ps-product__del"><b class="del">${{ discountedPrice(pill.our_price) }}
                      </b>
                      <b class="ps-product_desc">for {{ pill.quantity }} pills</b></span>
                  </div>
                </div>
                <div class="ps-product__quantity">
                  <h6>Quantity</h6>
                  <div class="def-number-input number-input safari_only">
                    <button class="minus" (click)="
                        quantityChanged('decrement', product, $event.target)
                      ">
                      <i class="icon-minus"></i>
                    </button>
                    <input class="quantity" min="0" [(ngModel)]="product.quantity" [value]="product.quantity"
                      type="number" id="quantityInputField" />
                    <button class="plus" (click)="
                        quantityChanged('increment', product, $event.target)
                      ">
                      <i class="icon-plus"></i>
                    </button>
                  </div>
                  <a class="ps-btn ps-btn--warning" data-toggle="modal" data-target="#popupAddcart"
                    (click)="addToCart(product)">Add to cart</a>
                </div>
                <div class="ps-product__variations">
                  <!-- <a class="ps-product__link">Add to wishlist</a
                  ><a class="ps-product__link">Add to Compare</a> -->
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="ps-pagination col-lg-3">
              <ul class="pagination">
                <li>
                  <a><i class="fa fa-angle-double-left"></i></a>
                </li>
                <!-- <li class="active"><a>1</a></li>
              <li><a>2</a></li>
              <li><a>3</a></li> -->
                <li>
                  <a><i class="fa fa-angle-double-right"></i></a>
                </li>
              </ul>

            </div>
            <!-- <div class="ps-categogy__sort col-lg-3" style="margin-top: 5%; ">
              <form>
                <span>Item per page</span>
                <select class="form-select">
                  <option selected>Select item per page</option>
                  <option value="5">5</option>
                  <option value="10">10</option>
                  <option value="20">20</option>

                </select>
              </form>
            </div> -->
          </div>
          <div class="ps-delivery" data-background="img/promotion/banner-delivery-2.jpg" style="
              background-image: url('/../../assets/images/banner-delivery-2.jpg');
            ">
            <div class="ps-delivery__content">
              <div class="ps-delivery__text">
                <i class="icon-shield-check"></i><span>
                  <strong>100% Secure delivery </strong>without contacting the
                  courier</span>
              </div>
              <a class="ps-delivery__more">More</a>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-3">
          <div class="ps-widget ps-widget--product">
            <div class="ps-widget__block">
              <h4 class="ps-widget__title">Select Category To Filter</h4>
              <a class="ps-block-control"><i class="fa fa-angle-down"></i></a>
              <div class="ps-widget__content ps-widget__category">
                <ul class="menu--mobile">
                  <li *ngFor="
                      let category of this._CategoryService.allCategoriesData
                    ">
                    <a (click)="filterProduct(category)">{{ category.name }}</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="ps-widget__promo">
              <img src="/../../assets/images/banner-sidebar.jpg" alt />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <!-- <button (click)="openModal()">open my modal</button> -->
  <modal #myModal>
    <modal-header>
      <!-- <h1>Modal header</h1> -->
    </modal-header>
    <modal-content>
      <div class="ps-product--detail" *ngIf="currentProductObject != undefined">
        <div class="row">
          <div class="col-12 col-xl-6">
            <div class="ps-product--gallery">
              <div class="ps-product__thumbnail pt-5">
                <!-- <div class="slide"><img src="/../../assets/images/002.jpg" alt="alt" /></div>
                                <div class="slide"><img src="/../../assets/images/002.jpg" alt="alt" /></div>
                                <div class="slide"><img src="/../../assets/images/006.jpg" alt="alt" /></div> -->
                <div class="slide">
                  <img [src]="currentProductObject.imageURLID" alt="alt" class="imageBorder" />
                </div>
                <!-- <div class="slide"><img src="/../../assets/images/016.jpg" alt="alt" /></div> -->
              </div>
            </div>
          </div>
          <div class="col-12 col-xl-6">
            <div class="ps-product__info">
              <div class="ps-product__badge">
                <span class="ps-badge ps-badge--instock">IN STOCK</span>
              </div>
              <div class="ps-product__branch">
                <a>{{ currentProductObject.name }} $
                  {{ currentProductObject }}</a>
              </div>
              <div class="ps-product__title">
                <a>{{ currentProductObject.composition }}</a>
              </div>
              <div class="ps-product__desc">
                <table>
                  <tr>
                    <!-- <th></th> -->
                    <th>Power</th>
                    <th>Qty</th>
                    <th>Price Per Pill</th>
                    <th>Our Price</th>
                  </tr>
                  <tr *ngFor="let pillType of currentProductObject.typesOfPill">
                    <td>{{ pillType.power }} MG</td>
                    <td>{{ pillType.quantity }} (Pills)</td>
                    <td>$ {{ fixedPrice(pillType.price_per_pills) }}</td>
                    <td>$ {{ pillType.our_price }}</td>
                  </tr>
                </table>
              </div>

              <div class="ps-product__meta">
                <span class="ps-product__price">Starting From $
                  {{ currentProductObject.typesOfPill[0].our_price }}</span>
              </div>
              <div class="ps-product__type">
                <ul class="ps-product__list">
                  <li>
                    <span class="ps-list__title">Tags: {{ currentProductObject.tag }}</span>
                    <br />
                    <a class="ps-list__text">Composition: {{ currentProductObject.composition }}</a>
                    <br />
                    <a class="ps-list__text">Type: {{ currentProductObject.type }}</a>
                  </li>
                  <!-- <li> <span class="ps-list__title">SKU: </span><a class="ps-list__text">SF-006</a>
                                    </li> -->
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </modal-content>
    <!-- <modal-footer>
            <button class="btn btn-primary" (click)="closeModal()">close</button>
        </modal-footer> -->
  </modal>
</div>

<div class="fab" (click)="Goto5()">
  <i class="fa fa-shopping-cart" aria-hidden="true">
    <span class="badge">
      {{
      this._CartService.NewCart == undefined ||
      this._CartService.NewCart == null
      ? 0
      : this._CartService.NewCart.items.length
      }}
    </span>
  </i>
</div>
<!-- <div class="modal fade" id="popupQuickview" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered ps-quickview">
        <div class="modal-content">
            <div class="modal-body">
                <div class="wrap-modal-slider container-fluid ps-quickview__body">
                    <button class="close ps-quickview__close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <div class="ps-product--detail">
                        <div class="row">
                            <div class="col-12 col-xl-6">
                                <div class="ps-product--gallery">
                                    <div class="ps-product__thumbnail">
                                        <div class="slide"><img src="img/products/001.jpg" alt="alt" /></div>
                                        <div class="slide"><img src="img/products/047.jpg" alt="alt" /></div>
                                        <div class="slide"><img src="img/products/047.jpg" alt="alt" /></div>
                                        <div class="slide"><img src="img/products/008.jpg" alt="alt" /></div>
                                        <div class="slide"><img src="img/products/034.jpg" alt="alt" /></div>
                                    </div>
                                    <div class="ps-gallery--image">
                                        <div class="slide">
                                            <div class="ps-gallery__item"><img src="img/products/001.jpg" alt="alt" /></div>
                                        </div>
                                        <div class="slide">
                                            <div class="ps-gallery__item"><img src="img/products/047.jpg" alt="alt" /></div>
                                        </div>
                                        <div class="slide">
                                            <div class="ps-gallery__item"><img src="img/products/047.jpg" alt="alt" /></div>
                                        </div>
                                        <div class="slide">
                                            <div class="ps-gallery__item"><img src="img/products/008.jpg" alt="alt" /></div>
                                        </div>
                                        <div class="slide">
                                            <div class="ps-gallery__item"><img src="img/products/034.jpg" alt="alt" /></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-xl-6">
                                <div class="ps-product__info">
                                    <div class="ps-product__badge"><span class="ps-badge ps-badge--instock"> IN STOCK</span>
                                    </div>
                                    <div class="ps-product__branch"><a >HeartRate</a></div>
                                    <div class="ps-product__title"><a >Blood Pressure Monitor</a></div>
                                    <div class="ps-product__rating">
                                        <select class="ps-rating" data-read-only="true">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4" selected="selected">4</option>
                                            <option value="5">5</option>
                                        </select><span class="ps-product__review">(5 Reviews)</span>
                                    </div>
                                    <div class="ps-product__desc">
                                        <ul class="ps-product__list">
                                            <li>Study history up to 30 days</li>
                                            <li>Up to 5 users simultaneously</li>
                                            <li>Has HEALTH certificate</li>
                                        </ul>
                                    </div>
                                    <div class="ps-product__meta"><span class="ps-product__price">$77.65</span>
                                    </div>
                                    <div class="ps-product__quantity">
                                        <h6>Quantity</h6>
                                        <div class="d-md-flex align-items-center">
                                            <div class="def-number-input number-input safari_only">
                                                <button class="minus" onclick="this.parentNode.querySelector('input[type=number]').stepDown()"><i class="icon-minus"></i></button>
                                                <input class="quantity" min="0" name="quantity" value="1" type="number" />
                                                <button class="plus" onclick="this.parentNode.querySelector('input[type=number]').stepUp()"><i class="icon-plus"></i></button>
                                            </div><a class="ps-btn ps-btn--warning"  data-toggle="modal" data-target="#popupAddcartV2">Add to cart</a>
                                        </div>
                                    </div>
                                    <div class="ps-product__type">
                                        <ul class="ps-product__list">
                                            <li> <span class="ps-list__title">Tags: </span><a class="ps-list__text" >Health</a><a class="ps-list__text" >Thermometer</a>
                                            </li>
                                            <li> <span class="ps-list__title">SKU: </span><a class="ps-list__text" >SF-006</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->