// input,
// fieldset {
//   margin-top: 20px;
//   font-size : 1em;
//   margin    : 0;
//   padding   : 0;
//   border    : 0;
// }

.fab {
  width: 70px;
  height: 70px;
  // background-color: #198ae3;
  background-color: #198ae3;
  border-radius: 50%;
  box-shadow: 0 6px 10px 0 #666;
  font-size: 32px;
  line-height: 45px;
  color: white;
  text-align: center;
  position: fixed;
  right: 30px;
  bottom: 30px;
  transition: all 0.1s ease-in-out;
  padding-top: 14px;
  padding-right: 4px;
  opacity: 0.5;
}

.fab:hover {
  box-shadow: 0 6px 14px 0 #666;
  transform: scale(1.05);
  opacity: 1;
  cursor: pointer;
}

//  .col-md-9 {
//     width: 75%;
//     transform: translate(8px, -100px);
// }

@media (min-width: 992px) {
  .col-md-9 {
    width: 75%;
    transform: translate(8px, -100px);
  }
}

.imageBorder {
  box-shadow: 0px 0px 32px -7px rgb(29 127 158 / 75%);
  -webkit-box-shadow: 0px 0px 32px -7px rgb(29 127 158 / 75%);
  -moz-box-shadow: 0px 0px 32px -7px rgba(29, 127, 158, 0.75);
  border: 5px solid #198ae3;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-size: 16px;

  white-space: nowrap;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  text-align: center;
}

th {
  text-align: left;
  padding: 8px;
  background-color: #198ae3;
  color: white;
  text-align: center;
}

//   tr:nth-child(even) {
//     background-color: #dddddd;
//   }

.slide {
  padding-top: 105px;
}

.ps-product--detail .ps-product__title {
  font-size: 26px;
  line-height: 36px;
  color: #198ae3;
  margin-bottom: 10px;
}

.ps-product--detail .ps-product__price {
  font-size: 30px;
  font-weight: 600;
  line-height: 36px;
  color: #198ae3;
}

.badge {
  background-color: red;
  color: white;
}

.ps-widget--product .menu--mobile .sub-toggle::before {
  content: "";
  color: #103178;
  font-weight: bold;
}

.fil {
  float: right;
  transform: translate(-5px, -20px);
  font-size: 14px;
  color: #198ae3;
}
