<div class="ps-blog">
    <div class="container">
        <ul class="ps-breadcrumb">
            <li class="ps-breadcrumb__item"><a href="index.html">Home</a></li>
            <li class="ps-breadcrumb__item active" aria-current="page">My Medi Blog</li>
        </ul>
        <h1 class="ps-blog__title">My Medi Blog</h1>
        <div class="ps-blog__content">
            <div class="row">
                <div class="col-12 col-md-9">
                    <div class="ps-blog--sidebar">
                        <div class="ps-blog--latset">

                            <div class="ps-promo__item"><img class="ps-promo__banner"
                                    src="/../../assets/images/blog-fullwidth-992x525.jpg" alt="alt" />
                                <div class="ps-blog__badge"><span class="ps-badge__item">MEDIC</span><span
                                        class="ps-badge__item">PHARMACY</span><span class="ps-badge__item">SALE</span>
                                </div>
                            </div>
                            <div class="ps-blog__content">
                                <div class="ps-blog__meta"> <span class="ps-blog__date">Jan 11, 2021</span><a
                                        class="ps-blog__author" href="#">Alfredo Austin</a></div><a
                                    class="ps-blog__title" href="blog-post1.html">The latest tests of popular masks in
                                    accordance with CV2s standards</a>
                                <p class="ps-blog__desc">Lorem Ipsum has been the industry's standard dummy text ever
                                    since the 1500s, when an unknown printer took a galley of type and scrambled it to
                                    make a type specimen book.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="ps-blog--latset">

                                    <div class="ps-promo__item"><img class="ps-promo__banner"
                                            src="/../../assets/images/blog13-992x525.jpg" alt="alt" />
                                        <div class="ps-blog__badge"><span class="ps-badge__item">MEDIC</span><span
                                                class="ps-badge__item">PHARMACY</span><span
                                                class="ps-badge__item">SALE</span>
                                        </div>
                                    </div>
                                    <div class="ps-blog__content">
                                        <div class="ps-blog__meta"> <span class="ps-blog__date">May 22, 2021</span><a
                                                class="ps-blog__author" href="#">Alfredo Austin</a></div><a
                                            class="ps-blog__title" href="blog-post1.html">The latest tests of popular
                                            masks in
                                            accordance with CV2s standards</a>
                                        <p class="ps-blog__desc">Lorem Ipsum has been the industry's standard dummy text
                                            ever
                                            since the 1500s, when an unknown printer took a galley of type and scrambled
                                            it to
                                            make a type specimen book.</p>
                                    </div>
                                </div>
                            </div>


                            <div class="col-12 col-md-6">
                                <div class="ps-blog--latset">

                                    <div class="ps-promo__item"><img class="ps-promo__banner"
                                            src="/../../assets/images/blog12-992x525.jpg" alt="alt" />
                                        <div class="ps-blog__badge"><span class="ps-badge__item">MEDIC</span><span
                                                class="ps-badge__item">PHARMACY</span><span
                                                class="ps-badge__item">SALE</span>
                                        </div>
                                    </div>
                                    <div class="ps-blog__content">
                                        <div class="ps-blog__meta"> <span class="ps-blog__date">May 18, 2021</span><a
                                                class="ps-blog__author" href="#">Alfredo Austin</a></div><a
                                            class="ps-blog__title" href="blog-post1.html">New special offer for
                                            customers
                                            who
                                            have been with us for 10 years</a>
                                        <p class="ps-blog__desc">Lorem Ipsum has been the industry's standard dummy text
                                            ever
                                            since the 1500s, when an unknown printer took a galley of type and scrambled
                                            it
                                            to
                                            make a type specimen book.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-5">
                            <div class="ps-blog--latset">

                                <div class="ps-promo__item"><img class="ps-promo__banner"
                                        src="/../../assets/images/blog-banner.jpg" alt="alt" />

                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="ps-blog--latset">

                                    <div class="ps-promo__item"><img class="ps-promo__banner"
                                            src="/../../assets/images/blog2-992x525.jpg" alt="alt" />
                                        <div class="ps-blog__badge"><span class="ps-badge__item">MEDIC</span><span
                                                class="ps-badge__item">PHARMACY</span><span
                                                class="ps-badge__item">SALE</span>
                                        </div>
                                    </div>
                                    <div class="ps-blog__content">
                                        <div class="ps-blog__meta"> <span class="ps-blog__date">May 15, 2021</span><a
                                                class="ps-blog__author" href="#">Alfredo Austin</a></div><a
                                            class="ps-blog__title" href="blog-post1.html">[PDF REPORT] – Impact of
                                            wearing
                                            masks
                                            on social behavior</a>
                                        <p class="ps-blog__desc">Lorem Ipsum has been the industry's standard dummy text
                                            ever
                                            since the 1500s, when an unknown printer took a galley of type and scrambled
                                            it
                                            to
                                            make a type specimen book.</p>
                                    </div>
                                </div>



                            </div>
                            <div class="col-12 col-md-6">

                                <div class="ps-blog--latset">

                                    <div class="ps-promo__item"><img class="ps-promo__banner"
                                            src="/../../assets/images/blog11-992x525.jpg" alt="alt" />
                                        <div class="ps-blog__badge"><span class="ps-badge__item">MEDIC</span><span
                                                class="ps-badge__item">PHARMACY</span><span
                                                class="ps-badge__item">SALE</span>
                                        </div>
                                    </div>
                                    <div class="ps-blog__content">
                                        <div class="ps-blog__meta"> <span class="ps-blog__date">May 9, 2021</span><a
                                                class="ps-blog__author" href="#">Alfredo Austin</a></div><a
                                            class="ps-blog__title" href="blog-post1.html">The latest tests of popular
                                            masks
                                            in
                                            accordance with CV2s standards</a>
                                        <p class="ps-blog__desc">Lorem Ipsum has been the industry's standard dummy text
                                            ever
                                            since the 1500s, when an unknown printer took a galley of type and scrambled
                                            it
                                            to
                                            make a type specimen book.</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="ps-blog--latset">

                                    <div class="ps-promo__item"><img class="ps-promo__banner"
                                            src="/../../assets/images/blog10-992x525.jpg" alt="alt" />
                                        <div class="ps-blog__badge"><span class="ps-badge__item">MEDIC</span><span
                                                class="ps-badge__item">PHARMACY</span><span
                                                class="ps-badge__item">SALE</span>
                                        </div>
                                    </div>
                                    <div class="ps-blog__content">
                                        <div class="ps-blog__meta"> <span class="ps-blog__date">Apr 28, 2021</span><a
                                                class="ps-blog__author" href="#">Alfredo Austin</a></div><a
                                            class="ps-blog__title" href="blog-post1.html">New special offer for
                                            customers who
                                            have been with us for 10 years</a>
                                        <p class="ps-blog__desc">Lorem Ipsum has been the industry's standard dummy text
                                            ever
                                            since the 1500s, when an unknown printer took a galley of type and scrambled
                                            it to
                                            make a type specimen book.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="ps-blog--latset">

                                    <div class="ps-promo__item"><img class="ps-promo__banner"
                                            src="/../../assets/images/blog9-992x525.jpg" alt="alt" />
                                        <div class="ps-blog__badge"><span class="ps-badge__item">MEDIC</span><span
                                                class="ps-badge__item">PHARMACY</span><span
                                                class="ps-badge__item">SALE</span>
                                        </div>
                                    </div>
                                    <div class="ps-blog__content">
                                        <div class="ps-blog__meta"> <span class="ps-blog__date">Apr 17, 2021</span><a
                                                class="ps-blog__author" href="#">Alfredo Austin</a></div><a
                                            class="ps-blog__title" href="blog-post1.html">[PDF REPORT] – Impact of
                                            wearing masks
                                            on social behavior</a>
                                        <p class="ps-blog__desc">Lorem Ipsum has been the industry's standard dummy text
                                            ever
                                            since the 1500s, when an unknown printer took a galley of type and scrambled
                                            it to
                                            make a type specimen book.</p>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                    <div class="ps-pagination">
                        <ul class="pagination">
                            <li><a href="#"><i class="fa fa-angle-double-left"></i></a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="ps-widget ps-widget--blog">
                        <div class="ps-widget__block">
                            <h4 class="ps-widget__title">Categories</h4><a class="ps-block-control" href="#"><i
                                    class="fa fa-angle-down"></i></a>
                            <div class="ps-widget__content">
                                <ul class="ps-widget--category">
                                    <li><a href="#">Diagnosis</a></li>
                                    <li><a href="#">Equipment</a></li>
                                    <li><a href="#">Higiene</a></li>
                                    <li><a href="#">Laboratory</a></li>
                                    <li><a href="#">Tools</a></li>
                                    <li><a href="#">Wound Care</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="ps-widget__block">
                            <h4 class="ps-widget__title">Related Products</h4><a class="ps-block-control" href="#"><i
                                    class="fa fa-angle-down"></i></a>
                            <div class="ps-widget__content">
                                <div class="ps-widget__product">
                                    <div class="ps-product ps-product--standard">
                                        <div class="ps-product__thumbnail"><a class="ps-product__image"
                                                href="product1.html">
                                                <figure><img src="/../../assets/images//051.jpg" alt="alt" />
                                                </figure>
                                            </a>
                                            <div class="ps-product__actions">
                                                <div class="ps-product__item" data-toggle="tooltip"
                                                    data-placement="left" title="Wishlist"><a href="#"><i
                                                            class="fa fa-heart-o"></i></a></div>
                                                <div class="ps-product__item rotate" data-toggle="tooltip"
                                                    data-placement="left" title="Add to compare"><a href="#"
                                                        data-toggle="modal" data-target="#popupCompare"><i
                                                            class="fa fa-align-left"></i></a></div>
                                                <div class="ps-product__item" data-toggle="tooltip"
                                                    data-placement="left" title="Quick view"><a href="#"
                                                        data-toggle="modal" data-target="#popupQuickview"><i
                                                            class="fa fa-search"></i></a></div>
                                                <div class="ps-product__item" data-toggle="tooltip"
                                                    data-placement="left" title="Add to cart"><a href="#"
                                                        data-toggle="modal" data-target="#popupAddcart"><i
                                                            class="fa fa-shopping-basket"></i></a></div>
                                            </div>
                                            <div class="ps-product__badge">
                                            </div>
                                        </div>
                                        <div class="ps-product__content">
                                            <h5 class="ps-product__title"><a href="product1.html">Somersung Sonic X500
                                                    Basic</a></h5>
                                            <div class="ps-product__meta"><span
                                                    class="ps-product__price sale">$38.39</span><span
                                                    class="ps-product__del">$53.99</span>
                                            </div>
                                            <div class="ps-product__rating">
                                                <select class="ps-rating" data-read-only="true">
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5" selected="selected">5</option>
                                                </select><span class="ps-product__review">( Reviews)</span>
                                            </div>
                                            <div class="ps-product__desc">
                                                <ul class="ps-product__list">
                                                    <li>Study history up to 30 days</li>
                                                    <li>Up to 5 users simultaneously</li>
                                                    <li>Has HEALTH certificate</li>
                                                </ul>
                                            </div>
                                            <div class="ps-product__actions ps-product__group-mobile">
                                                <div class="ps-product__quantity">
                                                    <div class="def-number-input number-input safari_only">
                                                        <button class="minus"
                                                            onclick="this.parentNode.querySelector('input[type=number]').stepDown()"><i
                                                                class="icon-minus"></i></button>
                                                        <input class="quantity" min="0" name="quantity" value="1"
                                                            type="number" />
                                                        <button class="plus"
                                                            onclick="this.parentNode.querySelector('input[type=number]').stepUp()"><i
                                                                class="icon-plus"></i></button>
                                                    </div>
                                                </div>
                                                <div class="ps-product__cart"> <a class="ps-btn ps-btn--warning"
                                                        href="#" data-toggle="modal" data-target="#popupAddcart">Add to
                                                        cart</a></div>
                                                <div class="ps-product__item cart" data-toggle="tooltip"
                                                    data-placement="left" title="Add to cart"><a href="#"><i
                                                            class="fa fa-shopping-basket"></i></a></div>
                                                <div class="ps-product__item" data-toggle="tooltip"
                                                    data-placement="left" title="Wishlist"><a href="wishlist.html"><i
                                                            class="fa fa-heart-o"></i></a></div>
                                                <div class="ps-product__item rotate" data-toggle="tooltip"
                                                    data-placement="left" title="Add to compare"><a
                                                        href="compare.html"><i class="fa fa-align-left"></i></a></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ps-product ps-product--standard">
                                        <div class="ps-product__thumbnail"><a class="ps-product__image"
                                                href="product1.html">
                                                <figure><img src="/../../assets/images//045.jpg" alt="alt" /><img
                                                        src="/../../assets/images//045.jpg" alt="alt" />
                                                </figure>
                                            </a>
                                            <div class="ps-product__actions">
                                                <div class="ps-product__item" data-toggle="tooltip"
                                                    data-placement="left" title="Wishlist"><a href="#"><i
                                                            class="fa fa-heart-o"></i></a></div>
                                                <div class="ps-product__item rotate" data-toggle="tooltip"
                                                    data-placement="left" title="Add to compare"><a href="#"
                                                        data-toggle="modal" data-target="#popupCompare"><i
                                                            class="fa fa-align-left"></i></a></div>
                                                <div class="ps-product__item" data-toggle="tooltip"
                                                    data-placement="left" title="Quick view"><a href="#"
                                                        data-toggle="modal" data-target="#popupQuickview"><i
                                                            class="fa fa-search"></i></a></div>
                                                <div class="ps-product__item" data-toggle="tooltip"
                                                    data-placement="left" title="Add to cart"><a href="#"
                                                        data-toggle="modal" data-target="#popupAddcart"><i
                                                            class="fa fa-shopping-basket"></i></a></div>
                                            </div>
                                            <div class="ps-product__badge">
                                                <div class="ps-badge ps-badge--hot">Hot</div>
                                            </div>
                                        </div>
                                        <div class="ps-product__content">
                                            <h5 class="ps-product__title"><a href="product1.html">Somersung Sonic X2000
                                                    Pro Black</a></h5>
                                            <div class="ps-product__meta"><span class="ps-product__price">$299.99</span>
                                            </div>
                                            <div class="ps-product__rating">
                                                <select class="ps-rating" data-read-only="true">
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4" selected="selected">4</option>
                                                    <option value="5">5</option>
                                                </select><span class="ps-product__review">( Reviews)</span>
                                            </div>
                                            <div class="ps-product__desc">
                                                <ul class="ps-product__list">
                                                    <li>Study history up to 30 days</li>
                                                    <li>Up to 5 users simultaneously</li>
                                                    <li>Has HEALTH certificate</li>
                                                </ul>
                                            </div>
                                            <div class="ps-product__actions ps-product__group-mobile">
                                                <div class="ps-product__quantity">
                                                    <div class="def-number-input number-input safari_only">
                                                        <button class="minus"
                                                            onclick="this.parentNode.querySelector('input[type=number]').stepDown()"><i
                                                                class="icon-minus"></i></button>
                                                        <input class="quantity" min="0" name="quantity" value="1"
                                                            type="number" />
                                                        <button class="plus"
                                                            onclick="this.parentNode.querySelector('input[type=number]').stepUp()"><i
                                                                class="icon-plus"></i></button>
                                                    </div>
                                                </div>
                                                <div class="ps-product__cart"> <a class="ps-btn ps-btn--warning"
                                                        href="#" data-toggle="modal" data-target="#popupAddcart">Add to
                                                        cart</a></div>
                                                <div class="ps-product__item cart" data-toggle="tooltip"
                                                    data-placement="left" title="Add to cart"><a href="#"><i
                                                            class="fa fa-shopping-basket"></i></a></div>
                                                <div class="ps-product__item" data-toggle="tooltip"
                                                    data-placement="left" title="Wishlist"><a href="wishlist.html"><i
                                                            class="fa fa-heart-o"></i></a></div>
                                                <div class="ps-product__item rotate" data-toggle="tooltip"
                                                    data-placement="left" title="Add to compare"><a
                                                        href="compare.html"><i class="fa fa-align-left"></i></a></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ps-product ps-product--standard">
                                        <div class="ps-product__thumbnail"><a class="ps-product__image"
                                                href="product1.html">
                                                <figure><img src="/../../assets/images//042.jpg" alt="alt" /><img
                                                        src="/../../assets/images//042.jpg" alt="alt" />
                                                </figure>
                                            </a>
                                            <div class="ps-product__actions">
                                                <div class="ps-product__item" data-toggle="tooltip"
                                                    data-placement="left" title="Wishlist"><a href="#"><i
                                                            class="fa fa-heart-o"></i></a></div>
                                                <div class="ps-product__item rotate" data-toggle="tooltip"
                                                    data-placement="left" title="Add to compare"><a href="#"
                                                        data-toggle="modal" data-target="#popupCompare"><i
                                                            class="fa fa-align-left"></i></a></div>
                                                <div class="ps-product__item" data-toggle="tooltip"
                                                    data-placement="left" title="Quick view"><a href="#"
                                                        data-toggle="modal" data-target="#popupQuickview"><i
                                                            class="fa fa-search"></i></a></div>
                                                <div class="ps-product__item" data-toggle="tooltip"
                                                    data-placement="left" title="Add to cart"><a href="#"
                                                        data-toggle="modal" data-target="#popupAddcart"><i
                                                            class="fa fa-shopping-basket"></i></a></div>
                                            </div>
                                            <div class="ps-product__badge">
                                            </div>
                                        </div>
                                        <div class="ps-product__content">
                                            <h5 class="ps-product__title"><a href="product1.html">Somersung Sonic X2500
                                                    Pro White</a></h5>
                                            <div class="ps-product__meta"><span class="ps-product__price">$39.99</span>
                                            </div>
                                            <div class="ps-product__rating">
                                                <select class="ps-rating" data-read-only="true">
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5" selected="selected">5</option>
                                                </select><span class="ps-product__review">( Reviews)</span>
                                            </div>
                                            <div class="ps-product__desc">
                                                <ul class="ps-product__list">
                                                    <li>Study history up to 30 days</li>
                                                    <li>Up to 5 users simultaneously</li>
                                                    <li>Has HEALTH certificate</li>
                                                </ul>
                                            </div>
                                            <div class="ps-product__actions ps-product__group-mobile">
                                                <div class="ps-product__quantity">
                                                    <div class="def-number-input number-input safari_only">
                                                        <button class="minus"
                                                            onclick="this.parentNode.querySelector('input[type=number]').stepDown()"><i
                                                                class="icon-minus"></i></button>
                                                        <input class="quantity" min="0" name="quantity" value="1"
                                                            type="number" />
                                                        <button class="plus"
                                                            onclick="this.parentNode.querySelector('input[type=number]').stepUp()"><i
                                                                class="icon-plus"></i></button>
                                                    </div>
                                                </div>
                                                <div class="ps-product__cart"> <a class="ps-btn ps-btn--warning"
                                                        href="#" data-toggle="modal" data-target="#popupAddcart">Add to
                                                        cart</a></div>
                                                <div class="ps-product__item cart" data-toggle="tooltip"
                                                    data-placement="left" title="Add to cart"><a href="#"><i
                                                            class="fa fa-shopping-basket"></i></a></div>
                                                <div class="ps-product__item" data-toggle="tooltip"
                                                    data-placement="left" title="Wishlist"><a href="wishlist.html"><i
                                                            class="fa fa-heart-o"></i></a></div>
                                                <div class="ps-product__item rotate" data-toggle="tooltip"
                                                    data-placement="left" title="Add to compare"><a
                                                        href="compare.html"><i class="fa fa-align-left"></i></a></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ps-product ps-product--standard">
                                        <div class="ps-product__thumbnail"><a class="ps-product__image"
                                                href="product1.html">
                                                <figure><img src="/../../assets/images//028.jpg" alt="alt" /><img
                                                        src="/../../assets/images//028.jpg" alt="alt" />
                                                </figure>
                                            </a>
                                            <div class="ps-product__actions">
                                                <div class="ps-product__item" data-toggle="tooltip"
                                                    data-placement="left" title="Wishlist"><a href="#"><i
                                                            class="fa fa-heart-o"></i></a></div>
                                                <div class="ps-product__item rotate" data-toggle="tooltip"
                                                    data-placement="left" title="Add to compare"><a href="#"
                                                        data-toggle="modal" data-target="#popupCompare"><i
                                                            class="fa fa-align-left"></i></a></div>
                                                <div class="ps-product__item" data-toggle="tooltip"
                                                    data-placement="left" title="Quick view"><a href="#"
                                                        data-toggle="modal" data-target="#popupQuickview"><i
                                                            class="fa fa-search"></i></a></div>
                                                <div class="ps-product__item" data-toggle="tooltip"
                                                    data-placement="left" title="Add to cart"><a href="#"
                                                        data-toggle="modal" data-target="#popupAddcart"><i
                                                            class="fa fa-shopping-basket"></i></a></div>
                                            </div>
                                            <div class="ps-product__badge">
                                                <div class="ps-badge ps-badge--sold">Sold Out</div>
                                            </div>
                                        </div>
                                        <div class="ps-product__content">
                                            <h5 class="ps-product__title"><a href="product1.html">GAnti-Dust Filter,
                                                    Breathable, 3 Layers of Purifying</a></h5>
                                            <div class="ps-product__meta"><span class="ps-product__price">$17.99</span>
                                            </div>
                                            <div class="ps-product__rating">
                                                <select class="ps-rating" data-read-only="true">
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5" selected="selected">5</option>
                                                </select><span class="ps-product__review">( Reviews)</span>
                                            </div>
                                            <div class="ps-product__desc">
                                                <ul class="ps-product__list">
                                                    <li>Study history up to 30 days</li>
                                                    <li>Up to 5 users simultaneously</li>
                                                    <li>Has HEALTH certificate</li>
                                                </ul>
                                            </div>
                                            <div class="ps-product__actions ps-product__group-mobile">
                                                <div class="ps-product__quantity">
                                                    <div class="def-number-input number-input safari_only">
                                                        <button class="minus"
                                                            onclick="this.parentNode.querySelector('input[type=number]').stepDown()"><i
                                                                class="icon-minus"></i></button>
                                                        <input class="quantity" min="0" name="quantity" value="1"
                                                            type="number" />
                                                        <button class="plus"
                                                            onclick="this.parentNode.querySelector('input[type=number]').stepUp()"><i
                                                                class="icon-plus"></i></button>
                                                    </div>
                                                </div>
                                                <div class="ps-product__cart"> <a class="ps-btn ps-btn--warning"
                                                        href="#" data-toggle="modal" data-target="#popupAddcart">Add to
                                                        cart</a></div>
                                                <div class="ps-product__item cart" data-toggle="tooltip"
                                                    data-placement="left" title="Add to cart"><a href="#"><i
                                                            class="fa fa-shopping-basket"></i></a></div>
                                                <div class="ps-product__item" data-toggle="tooltip"
                                                    data-placement="left" title="Wishlist"><a href="wishlist.html"><i
                                                            class="fa fa-heart-o"></i></a></div>
                                                <div class="ps-product__item rotate" data-toggle="tooltip"
                                                    data-placement="left" title="Add to compare"><a
                                                        href="compare.html"><i class="fa fa-align-left"></i></a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ps-widget--promo"><img src="/../../assets/images//banner-sidebar.jpg" alt></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>